<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>County</th>
      <th>Race</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Democrats</td>
      <td>CUMBERLAND</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>101</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>NEW HANOVER</td>
      <td>WHITE</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>PITT</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>28</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>NEW HANOVER</td>
      <td>WHITE</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>GRANVILLE</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>DURHAM</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>CRAVEN</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>BEAUFORT</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>CUMBERLAND</td>
      <td>WHITE</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>CUMBERLAND</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>13</td>
    </tr>
  </tbody>
</table>