<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Age Range</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>67745</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>45087</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>41198</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>34552</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>31622</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>31007</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>30726</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>29195</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>29065</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>26511</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>24957</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>24684</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>19128</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>26 - 40</td>
      <td>18839</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>18645</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>17921</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>17712</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>26 - 40</td>
      <td>15733</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>26 - 40</td>
      <td>13266</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>26 - 40</td>
      <td>10656</td>
    </tr>
  </tbody>
</table>