<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>County</th>
      <th>Race</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Democrats</td>
      <td>CUMBERLAND</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>173</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>BRUNSWICK</td>
      <td>WHITE</td>
      <td>127</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>BRUNSWICK</td>
      <td>WHITE</td>
      <td>109</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>DURHAM</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>98</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>PITT</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>90</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>BRUNSWICK</td>
      <td>WHITE</td>
      <td>75</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>NEW HANOVER</td>
      <td>WHITE</td>
      <td>67</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>DURHAM</td>
      <td>WHITE</td>
      <td>54</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>BRUNSWICK</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>FORSYTH</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>42</td>
    </tr>
  </tbody>
</table>