<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Age Range</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>60023</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>38684</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>36535</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>30034</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>26798</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>26062</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>25833</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>25705</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>24707</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>22137</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>21473</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>20345</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>15936</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>15715</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>26 - 40</td>
      <td>15584</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>15430</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>14518</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>26 - 40</td>
      <td>12315</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>26 - 40</td>
      <td>10346</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>26 - 40</td>
      <td>8754</td>
    </tr>
  </tbody>
</table>