<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Age Range</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>70307</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>46992</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>42659</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>36138</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>33841</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>32863</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>32126</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>30567</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>FEMALE</td>
      <td>Over 65</td>
      <td>30318</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>27987</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>26378</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>26018</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>41 - 65</td>
      <td>20692</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>26 - 40</td>
      <td>19670</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>19620</td>
    </tr>
    <tr>
      <td>REPUBLICAN</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>41 - 65</td>
      <td>19295</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>MALE</td>
      <td>Over 65</td>
      <td>18305</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>FEMALE</td>
      <td>26 - 40</td>
      <td>16776</td>
    </tr>
    <tr>
      <td>UNAFFILIATED</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>26 - 40</td>
      <td>14071</td>
    </tr>
    <tr>
      <td>DEMOCRATIC</td>
      <td>WHITE</td>
      <td>MALE</td>
      <td>26 - 40</td>
      <td>11130</td>
    </tr>
  </tbody>
</table>