<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>County</th>
      <th>Return Reason</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Democrats</td>
      <td>CUMBERLAND</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>131</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>NEW HANOVER</td>
      <td>SPOILED</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>DURHAM</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>PITT</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>32</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>NEW HANOVER</td>
      <td>SPOILED</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>CUMBERLAND</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>CRAVEN</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>CUMBERLAND</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>GRANVILLE</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>NEW HANOVER</td>
      <td>SPOILED</td>
      <td>13</td>
    </tr>
  </tbody>
</table>