<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>Gender</th>
      <th>Race</th>
      <th>Age Range</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Democrats</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>2751</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>2059</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>1412</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>1319</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>41 - 65</td>
      <td>1117</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Female</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>Over 65</td>
      <td>976</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Male</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>Over 65</td>
      <td>814</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>759</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>41 - 65</td>
      <td>755</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>741</td>
    </tr>
  </tbody>
</table>