<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>County</th>
      <th>Return Reason</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Democrats</td>
      <td>CUMBERLAND</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>225</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>BRUNSWICK</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>177</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>DURHAM</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>170</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>BRUNSWICK</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>120</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>PITT</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>103</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>NEW HANOVER</td>
      <td>SPOILED</td>
      <td>89</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>BRUNSWICK</td>
      <td>WITNESS INFO INCOMPLETE</td>
      <td>73</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>MECKLENBURG</td>
      <td>SPOILED</td>
      <td>57</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>FORSYTH</td>
      <td>SPOILED</td>
      <td>53</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>NEW HANOVER</td>
      <td>SPOILED</td>
      <td>46</td>
    </tr>
  </tbody>
</table>