<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Party</th>
      <th>Gender</th>
      <th>Race</th>
      <th>Age Range</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Democrats</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>15296</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>10693</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>7317</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>7268</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>41 - 65</td>
      <td>7023</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>5731</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Female</td>
      <td>BLACK or AFRICAN AMERICAN</td>
      <td>Over 65</td>
      <td>5412</td>
    </tr>
    <tr>
      <td>Republicans</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>Over 65</td>
      <td>5132</td>
    </tr>
    <tr>
      <td>Democrats</td>
      <td>Male</td>
      <td>WHITE</td>
      <td>41 - 65</td>
      <td>4537</td>
    </tr>
    <tr>
      <td>Unaffiliated</td>
      <td>Female</td>
      <td>WHITE</td>
      <td>41 - 65</td>
      <td>4241</td>
    </tr>
  </tbody>
</table>