<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Democrats</th>
      <th>Republicans</th>
      <th>Unaffiliated</th>
      <th>Other</th>
      <th>Total</th>
      <th>Total (2016)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Registrations</th>
      <td>29249</td>
      <td>65933</td>
      <td>79611</td>
      <td>4204.0</td>
      <td>178997</td>
      <td>204161</td>
    </tr>
    <tr>
      <th>VBM Requests</th>
      <td>388493</td>
      <td>126015</td>
      <td>234629</td>
      <td>2484.0</td>
      <td>751621</td>
      <td>40296</td>
    </tr>
  </tbody>
</table>