<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Democrats</th>
      <th>Republicans</th>
      <th>Unaffiliated</th>
      <th>Other</th>
      <th>Total</th>
      <th>Total (2016)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Registrations</th>
      <td>25920</td>
      <td>58844</td>
      <td>73567</td>
      <td>3794.0</td>
      <td>162125</td>
      <td>195140</td>
    </tr>
    <tr>
      <th>VBM Requests</th>
      <td>371975</td>
      <td>117744</td>
      <td>226200</td>
      <td>2435.0</td>
      <td>718354</td>
      <td>40296</td>
    </tr>
  </tbody>
</table>