<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Democrats</th>
      <th>Republicans</th>
      <th>Unaffiliated</th>
      <th>Other</th>
      <th>Total</th>
      <th>Total (2016)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Registrations</th>
      <td>25920</td>
      <td>58844</td>
      <td>73567</td>
      <td>3794.0</td>
      <td>162125</td>
      <td>195140</td>
    </tr>
    <tr>
      <th>VBM Requests</th>
      <td>319538</td>
      <td>95809</td>
      <td>187832</td>
      <td>1777.0</td>
      <td>604956</td>
      <td>34034</td>
    </tr>
  </tbody>
</table>